<div class="jumbotron">
    <h1>A5Owner </h1>
    <p class="lead">Eduardo Sorozabal - Assignment 5.</p>
    <p><a href="https://petermcintyre.com/dps907/graded-work/assign5/" target="_blank" class="btn btn-primary btn-lg">More info &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Permission</h2>
        <p>Students in Prof. McIntyre's Fall 2018 Web Services course have permission to use this project as a base for their work on Assignment 5.</p>
        <p>Read the assignment specifications for more information.</p>
    </div>
</div>
