<div class="jumbotron">
    <h1>Web service project v1</h1>
    <p class="lead">This is a project template, version 1, for a web service.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Features</h2>
        <p>Includes the following features:</p>
        <ul>
            <li>Chinook sample database</li>
            <li>Entity Framework and AutoMapper already installed</li>
            <li>Manager class starter code</li>
            <li>References to the Manager class in the Home and Values controller</li>
        </ul>
    </div>
</div>
